@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Lato", sans-serif;
}

.home,
.reports,
.products {
	display: flex;
	height: 90vh;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.table-inputs {
	display: grid;
	grid-template-areas:
		"sede"
		"servicio"
		"fecha";
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr;
	gap: 5px;
}

.sede {
	grid-area: "sede";
}

.servicio {
	grid-area: "servicio";
}

.fecha {
	grid-area: "fecha";
}

@media (min-width: 991px) {
	.table-inputs {
		display: grid;
		grid-template-areas: "sede" "servicio" "fecha";
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 10px;
	}
}

.botones {
	display: grid;
	grid-template-areas:
		"generar" "limpiar"
		"registrar" "registrar";
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	gap: 5px 10px;
}

.generar {
	grid-area: "generar";
}

.registrar {
	grid-area: "registrar";
	grid-column: 1/3;
	grid-row: 2/3;
}

.limpiar {
	grid-area: "limpiar";
}

@media (min-width: 991px) {
	.botones {
		grid-template-areas: "generar" "limpiar" "registrar";
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 10px;
	}

	.registrar {
		grid-column: 3/4;
		grid-row: 1/2;
	}
}

.grid-editar {
	display: grid;
	grid-template-areas:
		"lote" "lote" "lote"
		"subir" "subir" "subir"
		"registrarEditar";
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

.lote {
	grid-area: "lote";
	grid-column: 1/4;
	grid-row: 1/2;
}

.subir {
	grid-area: "subir";
	grid-column: 1/4;
	grid-row: 2/3;
}

.registrarEditar {
	grid-area: "registrarEditar";
	grid-column: 2/3;
	grid-row: 3/4;
}

@media (min-width: 991px) {
	.grid-editar {
		display: grid;
		grid-template-areas: "lote" "subir" "registrarEditar";
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 10px;
	}

	.lote {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.subir {
		grid-column: 2/3;
		grid-row: 1/2;
	}

	.registrarEditar {
		grid-column: 3/4;
		grid-row: 1/2;
	}
}
